* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
body {
  background-color: hsl(0, 0%, 86%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 50px;
}
.main-container {
  background-color: white;
  border-radius: 20px 20px 100px 20px;
  padding: 30px;
  min-width: 368px;
}
.main-container .flex-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 60px;
}
.main-container .flex-content .flex-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main-container .flex-content .flex-box label {
  color: hsl(0, 1%, 44%);
  font-weight: 700;
  letter-spacing: 3px;
}
.main-container .flex-content .flex-box input {
  width: 80px;
  height: 45px;
  border-radius: 7px;
  text-align: center;
  border: 2px solid hsl(0, 1%, 44%);
  font-size: 20px;
  font-weight: 700;
}

.main-container .flex-content .flex-box small {
  color: red;
  font-size: 12px;
  font-weight: 600;
  width: 80px;
}

.main-container .calc-container {
  border-top: 1px solid gray;
  /* display: block; */
}

.main-container .calc-container img {
  background-color: hsl(259, 100%, 65%);
  border-radius: 100%;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
}
.main-container .calc-container img:hover {
  background-color: black;
}
.main-container .text-container {
  padding: 40px 0px;
}
.main-container .text-container h1 {
  font-size: 30px;
  font-weight: 700;
}
.main-container .text-container h1 span {
  color: hsl(259, 100%, 65%);
}

@media only screen and (min-width: 1024px) {
  .main-container {
    width: 800px;
    border-radius: 20px 20px 200px 20px;
  }
  .main-container .flex-content .flex-box {
    display: flex;
    flex-direction: column;
  }
  .main-container .flex-content .flex-box input {
    width: 200px;
  }
  .main-container .flex-content .flex-box small {
    width: 100%;
  }
  .main-container .calc-container img {
    margin-left: 94%;
    margin-top: -35px;
  }
  .main-container .text-container {
    padding: 0;
  }
  .main-container .text-container h1 {
    font-size: 90px;
  }
}
